.panel {
    -fx-background-color: #333;
    -fx-border-color: #222;
}

.control-panel {
    -fx-background-color: #555;
    -fx-background-radius: 7px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.control-panel .label {
    -fx-text-fill: #fff;
}

.button {
    -fx-text-fill: #fff;
    -fx-background-color: #666;
}

.button:hover {
  -fx-background-color: #606060;
}

.button:pressed {
  -fx-background-color: #505050;
}

#menu-bar {
    -fx-background-color: #555;
}

.menu .label {
    -fx-text-fill: #ddd;
    -fx-margin: 5px;
}

.menu-item .label {
    -fx-text-fill: #000;
    -fx-margin: 5px;
}

#layer-view {
    -fx-background-color: #333;
}