.panel {
    -fx-background-color: #333;
    -fx-border-color: #222;
}

.control-panel {
    -fx-background-color: #454545;
    -fx-background-radius: 7;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}

.control-panel .label, .menu .label, .button {
    -fx-text-fill: #ddd;
    -fx-font-family: "Tahoma", "Geneva", sans-serif;
}

.menu-item .label {
    -fx-text-fill: #181818;
    -fx-font-family: "Tahoma", "Geneva", sans-serif;
}

.slider .axis {
    -fx-tick-label-fill: #ddd;
    -fx-tick-label-font-family: "Tahoma", "Geneva", sans-serif;
}

.button, .check-box .box {
    -fx-background-color: #555;
    -fx-border-color: #333;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-border-width: 1;
    -fx-background-insets: 0;
}

.button:hover {
    -fx-background-color: #505050;
}

.button:pressed, .tool-button:focused {
    -fx-background-color: #414141;
}

.check-box .box:hover {
    -fx-background-color: #505050;
}

.check-box .box:pressed {
    -fx-background-color: #414141;
}

.check-box:selected .mark {
    -fx-background-color: #ddd;
}

#menu-bar {
    -fx-background-color: #454545;
}

.menu:hover {
    -fx-background-color: #444;
}

.list-cell {
    -fx-text-fill: #ddd;
}

.list-view, .list-cell:empty, .list-cell:filled:even {
     -fx-background-color: #333;
}

.list-cell:filled:odd {
     -fx-background-color: #353535;
}

.list-cell:filled:selected, .list-cell:filled:focused {
     -fx-background-color: #454545;
}

.scroll-bar {
    -fx-background-color: #292929;
}

.scroll-bar .thumb,
.scroll-bar .increment-button .increment-arrow,
.scroll-bar .decrement-button .decrement-arrow {
    -fx-background-color: #454545;
}

.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover {
    -fx-background-color: #454545;
}

.scroll-bar .increment-button:pressed,
.scroll-bar .decrement-button:pressed {
    -fx-background-color: #404040;
}

#background {
    -fx-background-color: #181818;
}

.slider .track {
    -fx-control-inner-background: #414141;
    -fx-background: #373737;
}

.slider .thumb {
    -fx-background-color: #777;
    -fx-border-color: #333;
    -fx-pref-width: 5px;
}

.tooltip {
    -fx-font-size: 12;
}